<div class="new-company-button-parent">
  <span>Can't find the company you're looking for? Add it here: </span>
  <%= link_to "Add company", 
              new_company_path(category: category), 
              :class => "new-company-button" %>
</div>