<%= render "companies/modal" %>
<div class="container">
  <div class="row">
    <%= render 'companies/index/side_menu' %>
    <%= render 'companies/index/main_content' %>
  </div><!-- row -->
</div><!-- container -->