<div id="single-company-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2><%= @company.name %></h2>
      <h3><%= @company.category %></h3>
      <p><%= @company.description %></p>
    </div>
  </div><!-- row -->
</div>