
<li id="humane">
  <%= link_to humane_companies_path do %>
    <i class="fa fa-group" aria-hidden="true"></i> Humane labor investments
  <% end %>
</li>

<li id="green">
  <%= link_to green_companies_path do %>
    <i class="fa fa-recycle" aria-hidden="true"></i> Renewable-energy investments
  <% end %>
</li>

<li id="fair trade">
  <%= link_to fair_trade_companies_path do %>
    <i class="fa fa-handshake-o" aria-hidden="true"></i> Fair trade investments
  <% end %>
</li>